@import url('https://fonts,googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{ 

--dark-color:#2d2c2c;
--purple-solid: #350a4f;
--purple-transparent: rgba(53, 10, 79, .7);
--purple-transparent-alt: rgba(53, 10, 79, .5)
--purple-light: #8f50fb;
--gradient-color: linear-gradient(to right , var(--yellow-solid), var(--purple-light));
--gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));


}
html{
    font-size: 10px;

}
body{
    font-family: 'Open Sans' sans-serif;
font-size: 1.6rem;
color: var(--dark-color);

}

a{
   text-decoration: none;
   color: inherit;

}

ul{

    list-style: none;

}

section{
    padding: 5rem 0;

}

/*reusable buttons */
.btn{
    color: #fff;
    font-size: 1.3rem;
    font-weight:  bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items:  center;


}

.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;

}

.form-btn{
    margin-top: 2.5rem;
    cursor: pointer;

}
.btn-gradient{
    background: linear-gradient(to right, rgb(250,158,44,.8), rgba(143,80,251,.8));

}

.btn-gradient:hover{
    background-image: var(--gradient-color-alt);

}
.btn-purple{
    background-color: var(--purple-solid);

}

.btn-purple:hover{
    background-color: #56247f;

}


.dots{
    font-size: 2.4rem;
    margin-left: 5rem;
    opacity: .75;

}

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: flex;
    top: 0;
    left: 0;
    background-color:  var(--purple-transparent);
    z-index: 999;
    transition: background-color .5s, height .5s;

}
.header.active{
    background-color: var(--purple-solid);
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo img{
    max-width: 35%;

}
.hamburger-menu{
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;

}
/*
.close-state{
    display: none;

}
.menu-open .open-state{
    display: none;

}
.menu-open .close-state {
    display: block;

}*/

.hamburger-menu .fa-times{
    display: none;

} 
.manu-open .hamburger-menu .fa-times{
    display: block;

}

.nav-list{
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--purple-solid);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   z-index: 1400;
  opacity: 0;
  transform: scale(0);
  


}

.menu-open .nav-list{
    opacity: 1;
    transform: scale(1);

}




.nav-item:not(:last-child){
   margin-bottom:  .5rem;

}
 
.nav-link{
    display: block;
    color: fff;
    font-size:3rem;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 2px;
padding: 1rem;

}

/*Hero section style.................. */
.hero{
    color:#fff;
    width: 100%;
    height: 100vh;
    background: url("hotel.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;

}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--purple-tranparent-alt);
    z-index: -1;
}

.main-heading{
    color:#fff;
    line-height: 1;
    text-shadow: 1px 1px 1re rgba(0, 0, 0, .5);
    margin-bottom: 2.5rem;
    
}

.title{
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;


}

.subtitles{
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'courgette', cursive;

}
 



 /*booking section*/
 .booking{
 background:  url(white.jpg ) center no-repeat;
 background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;

 }

 .input-group{
     margin-bottom: 1.5rem;

 }

 .input-label{
  display: block;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;


 }

 .input,
 .options{
     outline: none ;
     border: none ;
     width: 30%;
     min-height: 4rem;
     padding : 1rem;
     font-weight: bold;
     color : #a5a5a5;
     letter-spacing: 2px;
     font-family: "Open Sans", sans-serif;
     resize: none;

 }

 ::placeholder{
     color: inherit;

 }

 /*Featured hotels section for styling */
 .section-head{
  text-align: center;
  margin-bottom: 5rem;
  
 }

 .heading{
     font-size: 4rem;
     text-transform: uppercase;
     display: block;

 }
 .subheading{
     font-size: 1.7rem;
     font-family: "courgette", cursive;
     font-weight: 300;
     color: #a5a5a5;
     
 }

 .grid{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
     grid-gap: 2.5rem;
   

 }
 
 .featured-hotels{
     height: 35rem;
     color: white;
     padding: 1rem;
     position: relative;

 }
.featured-hotels::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--purple-transparent-alt);
    z-index: -1;

}
.hotel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;


}
.hotel-name{
    font-size: 2.6rem;

}
.hotel-price{
    font-size: 1.8rem;
color: white;
}

.hotel-rating{
    margin: 1rem 0 2.5rem;
    color: yellow;
}
.rating{
    color: var(--yellow-solid);

}

.offer{
    background: linear-gradient(to right, rgb(250,158,44,.8), rgba(143,80,251,.8));

}
.offer-content{
    background-color: #fff;
    text-align: center;
    padding: 5rem 1rem;
    position: relative;

}

/*contact section*/
.contact-content{
    display: flex;
    justify-content: center;

}
.traveler-wrap{
    display: none;

}
.contact-form{
    width: 100%;
    background: linear-gradient(to right, rgb(250,158,44,.8), rgba(143,80,251,.8));
padding: 2.5rem;

}


/*hover effects working on the bottom.........*/

ul {
    position: relative;
    display: flex;
    
     }
    ul   li{
    position:relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    }
    ul li a{
    text-decoration: none;
    
    }
    ul li a .fa{
    font-size: 6em;
    color: #222;
    }
    ul li::before
    {
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    
    }
    ul li:nth-child(1)::before
    {
    content: '\f2dd';
    color: #FFFF00;
    border-bottom: 4px  solid #FFFF00;
    
    
    }
    ul li:nth-child(2)::before
    {
    content: '\f2bd';
    color: #FF0000;
    border-bottom: 4px  solid #FF0000;
    
    
    }
    ul li:nth-child(3)::before
     {
     content: '\f09a ';
     color: #3b5998;
     border-bottom: 4px  solid #1da1f2;
    
    
     }
    ul li:hover::before
    {
    height: 100%;
    
    }




 

 
 



